.prettierrc.js
.github
tsconfig.json
tsup.config.ts
yarn.lock
bun.lockb
package-lock.json
src
./src
./src/*
script
./script
./script/*
deno
./deno
./deno/*
*tests*
_tests_
./_tests_
./*/_tests_/*
_tests_
./__tests__
./*/__tests__/*
__buildtest__
./__buildtest__
./*/__buildtest__/*
./*tests*/*
*husky*
.husky
./.husky
./*/.husky/*
./*tests*/*
tests
*tests*
node_modules
test.ts
.DS_Store
.prettierignore
.prettierrc
jest.config.js
playground.ts
playground.*
.npmignore
.gitattributes
.gitignoresrc/
*.ts
*.config.*
*eslint*
.eslintcache
.eslintignore
.eslintrc
eslint.config.js
./*/jest.config.*
jest.config.*
.editorconfig
npmrc
.npmrc
index.html
./index.html
logo.svg
./logo.svg
